$color-primary: #7811a1;
$color-primary-dark: #4a0964;
$color-grey-0: #727272;
$color-grey-1: #464446;
$color-grey-2: #363636;
$color-grey-3: #242424;
$color-grey-4: #1d1d1d;
$color-white: #FFFFFF;
$color-black: #000;
$color-invalid: #f61010